<table class="table text-center">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stocks</th>
            <th>Compras</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cerveza of cervezas" [ngClass]="{'liquidacion':cerveza.liquidacion}">
            <td><img [src]="cerveza.imagen" [alt]="cerveza.nombre"></td>
            <td>{{cerveza.nombre}} </td>
            <td>{{cerveza.tipo}} </td>
            <td>{{cerveza.precio | currency}} </td>
            <td ><span *ngIf="cerveza.stock==0">No hay stock </span></td>
            <td>
                <button class="btn btn-primary btn-sm" (click)="DecrementarContador(cerveza)">-</button>
                <input type="text" [(ngModel)]="cerveza.cantidad">
                <button  class="btn btn-primary btn-sm"(click)="IncrementarContador(cerveza)">+</button>
                </td>
        </tr>
    </tbody>
</table>

