<table class="table text-center">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stocks</th>
            <th>Compras</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cerveza of cervezas" [ngClass]="{'liquidacion':cerveza.liquidacion}">
            <td><img [src]="cerveza.imagen" [alt]="cerveza.nombre"></td>
            <td>{{cerveza.nombre}} </td>
            <td>{{cerveza.tipo}} </td>
            <td>{{cerveza.precio | currency}} </td>
            <td ><span *ngIf="cerveza.stock==0">No hay stock </span></td>
            <td *ngIf="cerveza.stock>0">
                <app-input-integer [(cantidad)]="cerveza.cantidad" [max]="cerveza.stock" *ngIf="cerveza.stock" ></app-input-integer>
                {{cerveza.cantidad}}
            </td>
        </tr>
    </tbody>
</table>


<!-- (maxAlcanzado)="maxAlcanzado($event)" -->

